operon/documents/xsd/operon-registry_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Information Technology (Information Technology) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="netFilesType">
		<xsd:sequence>
			<xsd:element name="filename" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="operonRegistry">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="netFiles" type="netFilesType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
